* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
}

/*------ NAVBAR ------*/

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    display: flex;
    margin: 10px;
}

nav li {
    list-style: none;
    margin: 8px;
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: rgba(0,0,0,0.87);
}

.app-image {
    width: 20px;
    height: 20px;
    margin: 0 auto;

}
.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

nav a:hover {
    text-decoration: underline;
}

.image-list,
.footer-container li {
    list-style: none;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-list:hover,
.footer-container li:hover {
    background: rgba(129, 126, 126, 0.1);
    border-radius: 50%;
}

/*------ NAME SECTION ------*/
.gretting {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
}

.gretting h2 {
    color: #5d5d5d;
    padding-left: 7px;
}

 .gretting h1 span {
     letter-spacing: -11px;
     font-size: 6rem;
     font-family: Futura;
     font-weight: 300;
    
 }

.blue-letter {
    color: #4285f3;
}

.red-letter {
    color: #ea4435;
}

.yellow-letter {
    color: #fbbd04;
}

.green-letter {
    color: #33a852;
}

.container-buttons {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.container-buttons a {
    font-family: arial,sans-serif;
    font-size: 14px;
    background-color: #f8f9fa;
    color: #3c4043;
    margin: 5px;
    padding: 10px 15px;
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    min-width: 90px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

.container-buttons a:hover {
    border: 1px solid #d8d8d8;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1)
}

/*------ FOOTER ------*/

footer {
    position: absolute;
    bottom: 0;
    background: #f2f2f2;
    height: 45px;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 30px;
}

.footer-container p {
    color: #767676;
    font-size: 15px;
    font-weight: 300;
}

.footer-container ul {
    display: flex;
}

.footer-container li {
    list-style: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-container a {
    text-decoration: none;
    font-size: 25px;
    color: #3c4043;
    margin: 5px;
}