* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
}

/*------ NAVBAR ------*/

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    display: flex;
    margin: 10px;
}

nav li {
    list-style: none;
    margin: 8px;
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: rgba(0,0,0,0.87);
}

.app-image {
    width: 20px;
    height: 20px;
    margin: 0 auto;

}
.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

nav a:hover {
    text-decoration: underline;
}

.image-list,
.footer-container li {
    list-style: none;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-list:hover,
.footer-container li:hover {
    background: rgba(129, 126, 126, 0.1);
    border-radius: 50%;
}

/*------ NAME SECTION ------*/
.gretting {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
}

.gretting h2 {
    color: #5d5d5d;
    padding-left: 7px;
}

.gretting h1 span {
     letter-spacing: -11px;
     font-size: 6rem;
     font-family: Futura;
     font-weight: 300;
}

.blue-letter {
    color: #4285f3;
}

.red-letter {
    color: #ea4435;
}

.yellow-letter {
    color: #fbbd04;
}

.green-letter {
    color: #33a852;
}

.container-buttons {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.container-buttons a {
    display: flex;
    justify-content: center;
    font-family: arial,sans-serif;
    font-size: 14px;
    background-color: #f8f9fa;
    color: #3c4043;
    margin: 5px;
    padding: 10px 15px;
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    min-width: 90px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

.container-buttons a:hover {
    border: 1px solid #d8d8d8;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1)
}

/*------ FOOTER ------*/

footer {
    position: fixed;
    bottom: 0;
    background: #f2f2f2;
    height: 45px;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 30px;
}

.footer-container p {
    color: #767676;
    font-size: 15px;
    font-weight: 300;
}

.footer-container ul {
    display: flex;
}

.footer-container li {
    list-style: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container a {
    text-decoration: none;
    font-size: 25px;
    color: #3c4043;
    margin: 5px;
}

/*------------ PORTFOLIO PAGE ------------*/
/*------ NAVBAR ------*/

header {
    margin-top: 10px;
}

nav > a {
     letter-spacing: -2px;
     font-family: Futura;
     position: absolute;
     left: 30px;
     text-decoration: none !important;
}

.fake-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 170px;
    width: 700px;
    height: 45px;
    border: 1px solid #e1e4e7;
    border-radius: 25px;
}

.fake-input:hover {
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 10%);
}

.fake-input p {
    padding-left: 25px;
}

.fake-input img {
    width: 15px;
    cursor: pointer;
}

.input-icons {
    display: flex;
    align-items: center;
    padding-right: 25px;
}

.input-icons * {
    margin-left: 16px;
}

.input-icons i {
    color: #80868a;
    font-size: 20px;
}

.bar {
    width: 1px !important;
    height: 22px;
}

.ruler {
    margin-bottom: -5px;
    border-bottom: 0.1em solid #eff0f1;
}

.ruler img {
    padding-left: 160px;
    margin-bottom: -5px;
}

/*------ PORTFOLIO RESULTS ------*/
.container-results {
    display: flex;
}

.search-results {
    padding-left: 180px;
    margin-bottom: 60px;
}

.search-results > p {
    font-size: 14px;
    color: #70757a;
    padding: 18px 0;
}

.results-list {
    margin-bottom: 20px;
}

.results-list h4 {
    font-size: 14px;
    font-weight: 400;
    color: #202225;
    padding: 8px 0;
}

.results-list h3 {
    font-size: 20px;
    font-weight: 400;
    padding: 0;
}

.results-list p {
    color: #70757a;
    font-size: 14px;
    line-height: 18px;
    max-width: 560px;
    padding-top: 5px;
}
.results-box {
    width: 491px;
    height: fit-content;
    margin-left: 80px;
    border: 0.1em solid #eff0f1;
    border-radius: 7px;
}

.results-images {
    display: flex;
}

.results-images img{
    border-radius: 7px;
    max-width: 208px;
    object-fit: cover;
}

.results-intro  {
    padding: 16px;
    border-bottom: 0.1em solid #eff0f1;
}

.results-intro h2 {
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 2px;
}

.results-intro h4 {
    font-size: 14px;
    font-weight: normal;
    color: #70757a;
}

.results-main {
    padding: 16px;
}

.results-main p {
    font-size: 14px;
    font-weight: normal;
    color: #4d5156;
    padding-bottom: 10px;
    line-height: 18px;
}

.results-main p strong {
    color: #202124;
}

/*------ MODAL ------*/
.modal-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: transparent;
    display: none;
}

.modal-icons {
    width: 200px;
    height: 300px;
    background: red;
    position: absolute;
    right: 10px;
    top: 10px;
}

.modal-container.show-modal {
    display: flex;
}