* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
}

/*------ NAVBAR ------*/

.container-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container-navbar ul {
    display: flex;
    margin: 10px;
}

.container-navbar li {
    list-style: none;
    margin: 8px;
    display: flex;
    align-items: center;
}

.container-navbar a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: rgba(0,0,0,0.87);
}

.app-image {
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.container-navbar a:hover {
    text-decoration: underline;
}

.image-list,
.footer-container li {
    list-style: none;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-list:hover,
.footer-container li:hover {
    background: rgba(129, 126, 126, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

/*------ NAME SECTION ------*/
/* .container-greeting {
    position: relative;
    width: 100vw;
    height: 100vh;
} */

.gretting {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
}

.gretting h1 {
    width: fit-content;
    margin: 0 auto;
}

.gretting h2 {
    color: #5d5d5d;
    padding-left: 7px;
}

.gretting h1 span {
     letter-spacing: -11px;
     font-size: 6rem;
     font-family: Futura;
     font-weight: 300;
}

.blue-letter {
    color: #4285f3;
}

.red-letter {
    color: #ea4435;
}

.yellow-letter {
    color: #fbbd04;
}

.green-letter {
    color: #33a852;
}

.container-buttons {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.container-buttons a {
    display: flex;
    justify-content: center;
    font-family: arial,sans-serif;
    font-size: 14px;
    background-color: #f8f9fa;
    color: #3c4043;
    margin: 5px;
    padding: 10px 15px;
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    min-width: 95px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

.container-buttons a:hover {
    border: 1px solid #d8d8d8;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1)
}

/*------ FOOTER ------*/

footer {
    position: fixed;
    bottom: 0;
    background: #f2f2f2;
    height: 45px;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 30px;
}

.footer-container p {
    color: #767676;
    font-size: 15px;
    font-weight: 300;
}

.footer-container ul {
    display: flex;
}

.footer-container li {
    list-style: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container a {
    text-decoration: none;
    font-size: 25px;
    color: #3c4043;
    margin: 5px;
}

/*------------ PORTFOLIO PAGE ------------*/
/*------ NAVBAR ------*/

header {
    margin-top: 10px;
}

.container-navbar > a {
     letter-spacing: -2px;
     font-family: Futura;
     position: absolute;
     left: 30px;
     text-decoration: none !important;
}

.fake-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 170px;
    width: 700px;
    height: 45px;
    border: 1px solid #e1e4e7;
    border-radius: 25px;
}

.fake-input:hover {
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 10%);
}

.fake-input p {
    padding-left: 25px;
}

.fake-input img {
    width: 15px;
    cursor: pointer;
}

.input-icons {
    display: flex;
    align-items: center;
    padding-right: 25px;
}

.input-icons * {
    margin-left: 16px;
}

.input-icons i {
    color: #80868a;
    font-size: 20px;
}

.bar {
    width: 1px !important;
    height: 22px;
}

.ruler {
    margin-bottom: -5px;
    border-bottom: 0.1em solid #eff0f1;
}

.ruler img {
    padding-left: 160px;
    margin-bottom: -5px;
}

/* Navbar small screens */
.navbar {
    height: 100vh;
    width: 280px;
    background: #fff;
}

.slider {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.40);
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 20;
    transition: transform 0.5s ease-in;
}

.nav-active {
    transform: translateX(0%);
}

.navbar h3 {
    letter-spacing: -2px;
    font-size: 1.3rem;
}

.navbar button {
    color: #fff;
    background: #1d72e7;
    height: 36px;
    width: 210px;
    border: none;
    border-radius: 24px;
    position: relative;
}

.google-icon {
    width: 24px;
    height: 24px;
    padding: 4px;
    background: #fff;
    border-radius: 50%;
    left: 5px;
    top: 50%;
    transform: translatey(-50%);
    position: absolute;
}

.navbar li {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #757575;
    padding: 12px;
}

.navbar li a {
    text-decoration: none;
    color: #757575;
}

.navbar i {
    font-size: 16px;
    padding-right: 17px;
}



/*------ PORTFOLIO RESULTS ------*/
.container-results {
    display: flex;
}

.search-results {
    padding-left: 180px;
}

.search-results > p {
    font-size: 14px;
    color: #70757a;
    padding: 18px 0;
}

.results-list {
    margin-bottom: 20px;
}

.results-list h4 {
    font-size: 14px;
    font-weight: 400;
    color: #202225;
    padding: 8px 0;
}

.results-list h3 {
    font-size: 20px;
    font-weight: 400;
    padding: 0;
}

.results-list p {
    color: #70757a;
    font-size: 14px;
    line-height: 18px;
    max-width: 560px;
    padding-top: 5px;
}
.results-box {
    width: 491px;
    height: fit-content;
    margin-left: 80px;
    border: 0.1em solid #eff0f1;
    border-radius: 7px;
}

.results-images {
    display: flex;
}

.results-images img{
    border-radius: 7px;
    max-width: 208px;
    object-fit: cover;
}

.results-intro  {
    padding: 16px;
    border-bottom: 0.1em solid #eff0f1;
}

.results-intro h2 {
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 2px;
}

.results-intro h4 {
    font-size: 14px;
    font-weight: normal;
    color: #70757a;
}

.results-main {
    padding: 16px;
}

.results-main p {
    font-size: 14px;
    font-weight: normal;
    color: #4d5156;
    padding-bottom: 10px;
    line-height: 18px;
}

.results-main p strong {
    color: #202124;
}

/*------ MODAL ------*/
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    display: none;
}

.modal-container.show-modal {
    display: flex;
}

.modal-icons {
    width: 305px;
    height: 390px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0px 1px 4px 2px rgb(0 0 0 / 30%);
    position: absolute;
    right: 15px;
    top: 55px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    z-index: 5;
}

.modal-icons div {
    width: 80px;
    height: 80px;
    margin: 8px;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal-icons div:hover {
    background: #E8F0FE;
    border-radius: 10px;
}

.modal-icons img {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.modal-icons p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #202124;
    margin: 0 auto;
}

.move-modal {
    margin: 10px 10px 0 0;
}


/*------ MEDIA QUERIES ------*/

@media screen and (min-width: 992px) {
    .display-none-m {
        display: none;
    }
}

@media screen and (max-width: 1320px) {
    .search-results {
        padding-left: 6%;
    }

}


@media screen and (max-width: 1200px) {
    .display-none-lg {
        display: none;
    }

    .search-results {
        padding-left: 2%;
    }

    .results-box {
        width: 403px;
        margin-left: 5%
    }

}

@media screen and (max-width: 992px) {
    .display-none-s {
        display: none;
    }

    .burguer {
        display: block;
        position: absolute;
        left: 15px;
        z-index: 9;
    }

    .burguer div {
        width: 17px;
        height: 2px;
        background-color: #707579;
        margin: 3px;
    }

    .container-navbar ul {
        margin: 5px 0;
    }
    .gretting h1 span {
        letter-spacing: -9px;
        font-size: 3.5rem;
    }

    .gretting h2 {
        padding-left: 14px;
        font-size: 20px;
    }

    .container-navbar > a {
        left: 50%;
        transform: translateX(-50%);
    }

    .fake-input {
        position: unset;
        width: 95%;
        margin: 0 auto;
        margin-bottom: 15px;
        box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 10%);
    }

    .search-results {
        padding: 0;
    }

    .results-list {
        padding: 0 8px;
    }

    .search-items {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #757575;
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }

    .search-items :first-child {
        color: #000;
        font-weight: 500;
        border-bottom: 2px solid #000;
    }

    .ruler {
        border-bottom: 5px solid #f0f3f4;
    }

    .results-intro {
        border-bottom: 5px solid #f0f3f4;
        width: 100vw;  
    }

    .input-icons {
        padding-right: 15px;
    }


}




